* {
    padding: 0;
    margin: 0;
    vertical-align: top;
  }

#wrapper {
    
    color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: rgb(17, 25, 37);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 15%;
  transition: 1s;
}

h1{
    padding-top: 50px;
}



/* ---------------EXO 1---------------- */
#carre {
    display: flex;
    height: 200px;
    width: 200px;
    background-color: rgb(40, 121, 94);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    color: white;
}


/* ---------------EXO 2---------------- */


#container {
    display: flex;
}

#carreUn, #carreDeux, #carreTrois, #carreQuatre {
    display: flex;
    height: 150px;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

#carreUn{
background-color: #a01818;
}

#carreDeux{
    background-color: #4425b4;
}

#carreTrois{
    background-color: #28c9a6;
}

#carreQuatre{
    background-color: #2b78cf;
}


#carreBoss {
    background-color: #ffffff;
    display: flex;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}



/* ---------------EXO 3---------------- */


#containerDeux {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 160px 160px;
    grid-template-rows: 160px 160px;
}

.carre {
    height: 150px;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: green;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carreTransformed {
    height: 150px;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(187, 9, 9);
    transform:  scale(0.9) rotate(360deg);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}










/* ---------------EXO 4---------------- */

#title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#containerTrois {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: space-around;
}

.social {
    display: flex;
    height: 100px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.socialInterracted {
    display: flex;
    height: 100px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

i{
    font-size: 35px;
}
#title {
    display: flex;
}

#facebook{
    background-color: #153d79;

}
#twitter{
    background-color: #3390db;
    
    }
#instagram{
    background-color: #a51641;
    
    }